<% unless @articles.blank? %>
<section class="l-content l-content--grey l-content--bordered">
  <div class="container">
    <div class="row">
      <div class="col-md-12 text-center">
        <h4 class="l-content__title text-primary"><%= t(".recent_articles") %></h4>
      </div>
    </div>
    <div class="row">
      <%= render partial: "articles/article_card_small" %>
    </div>
  </div>
</section>
<% end %>
