<% unless @articles.blank? %>
<section class="l-content l-content--grey l-content--bordered">
  <div class="container">
    <div class="row">
      <div class="col-md-12 text-center">
        <h4 class="l-content__title text-primary"><%= t(".recent_articles") %></h4>
      </div>
    </div>
    <div class="l-content__scroll row">
      <%= render partial: "articles/article_card_small" %>
    </div>
    <div class="text-center d-sm-none font-italic text-primary">
      <%= t(".scroll_for_more") %>
      <i class="fa fa-arrow-right animated pulse infinite ml-3"></i>
    </div>
  </div>
</section>
<% end %>
