<section class="m-banner m-banner--about animated fadeIn d-flex align-items-center justify-content-center">
    <div class="container-fluid">
        <div class="m-header">
            <div class="m-header__content">
                <h1 class="m-header__title--md"><%= t('.header_title')%></h1>
            </div>
        </div>
    </div>
</section>
<section class="l-content l-content__white">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h2 class="text-primary"><%= t('.s_one_header')%></h2>
                <hr>
                <div class="l-content__body">
                    <p><%= t('.s_one_body').gsub(/\n/, '<br/>').html_safe %></p>
                </div>
            </div>
        </div>
    </div>
</section>
