<section class="l-home animated fadeIn">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-4 offset-md-4">
                <div class="l-header">
                    <div class="l-header__content">
                        <h1 class="l-header__logo">Oak</h1>
                        <p class="l-header__body">
                            Our naturopathic clinic will be opening in Dawson Creek, British Columbia in Winter 2017.
                        </h4>
                        <div class="row">
                            <div class="col-md-6 offset-md-3 col-sm-8 offset-sm-2">
                                <button type="button" name="button" class="btn btn-primary btn-block" data-toggle="modal" data-target="#mailingList">Register</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- Hidden Modal -->
<div class="modal animated fadeInUp" id="mailingList" tabindex="-1" role="dialog" aria-labelledby="mailingList" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="mailingListLabel">Oak Clinic Mailing List</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p>Register for Oak Clinic's mailing list to be notified of upcoming events and to stay informed of our opening date.</p>
                <!-- <%#= form_for @contact do |f| %>
                    <div class="form-group">
                        <%#= f.label :name %>
                        <%#= f.text_field :name, class: "form-control", placeholder: "John Doughboy", required: true %>
                    </div>
                    <div class="form-group">
                        <%#= f.label :name %>
                        <%#= f.text_field :name, class: "form-control", placeholder: "John Doughboy", required: true %>
                    </div>
                    <div class="form-group">
                        <%#= f.label :email %>
                        <%#= f.text_field :email, class: "form-control", placeholder: "doughboy@booblybob.com", required: true %>
                    </div>
                    <%#= f.button "Send Message", class: "btn btn-primary btn-full-width", data: {disable_with: "<i class='fa fa-spinner fa-pulse'></i> Submitting Message"} %>
                <%# end %> -->
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" data-dismiss="modal">Submit</button>
            </div>
        </div>
    </div>
</div>
