<%= render partial: "layouts/topper", locals: {type: "products", title: t(".header_title")} %>

<section class="l-content l-content--white l-content--bordered l-content--md">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        Hieeee
      </div>
    </div>
  </div>
</section>
