$content-spacing: (
  xx: 0rem,
  xs: 1rem,
  sm: 2rem,
  md: 3rem,
  lg: 4rem,
  xl: 5rem
) !default;

.card-body--service {
  min-height: 26rem;
}
.card-body--action {
  @extend .bg-light, .bt, .lh-1, .rounded-bottom, .d-flex, .align-items-center, .justify-content-center;
  text-align: center;
  min-height: 5rem;
}
