<nav class="m-nav__top m-nav__root">
    <div class="container">
        <div class="row flex-items-sm-middle">
            <div class="col-sm-12">
                <ul class="m-nav__list">
                    <li class="m-nav__link"><%= link_to "Naturopahic Medicine", "/#about" %></li>
                    <li class="m-nav__link"><%= link_to "About", "/#stories" %></li>
                </ul>
            </div>
        </div>
    </div>
</nav>
